{% with messages = get_flashed_messages() %}
  <!-- 获取当前请求中所有闪现（flash）消息 -->
  <!-- 使用 get_flashed_messages() 函数获取当前请求中的所有闪现消息 -->
  {% if messages %}
    <!-- 如果存在闪现消息，则显示消息框 -->
    <div id="flash-message"
         class="alert alert-info alert-dismissible fade show"
         role="alert">
      <!-- 使用 Bootstrap 的警告框样式，`alert-info` 表示信息类型的消息 -->
      <ul class="mb-0">
        <!-- 创建一个无序列表来显示所有消息 -->
        {% for message in messages %}
          <!-- 遍历所有闪现消息，并以列表项显示 -->
          <!-- 通过 { % for message in messages % } 循环遍历所有的闪现消息，并在页面上显示为列表项 -->
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"></button>
    </div>
    <!-- 使用 Bootstrap 提供的关闭按钮，点击后会关闭该消息框 -->
  {% endif %}
{% endwith %}
