{# 页面标题，显示“可供下载的文件”，并添加了上边距 #}
<h2 class="mt-5">可供下载的文件</h2>
{# 创建一个无序列表，使用 Bootstrap 的 list-group 样式，`mt-4` 添加上边距 #}
<ul class="list-group mt-4 shadow-sm">
    {# 遍历文件列表 `files`，为每个文件生成一个列表项 #}
    {% for filename in files %}
        {# 每个文件的列表项，使用 Bootstrap 的样式，使项之间的布局是水平的，并且居中对齐 #}
        {# 使用 flexbox 排版文件名称和文件信息 #}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex w-75 justify-content-between align-items-center">
                {# 文件名的链接，点击后会触发下载操作 #}
                {# `url_for` 用于生成下载链接  #}
                <a href="{{ url_for('file.download', filename=filename) }}"
                   class="text-truncate file-name">{{ filename }}</a>
                {# 显示文件信息，`ms-3` 添加左边距  #}
                <div class="file-info text-muted ms-3">
                    {# 显示文件大小 #}
                    {# `get_file_size` 是一个 Python 函数，用于获取文件的大小  #}
                    <span class="file-size">{{ get_file_size(filename) }}</span>
                </div>
            </div>
            {# 创建删除文件的表单，`url_for` 用于生成删除文件的 URL #}
            <form method="post"
                  action="{{ url_for('file.delete', filename=filename) }}">
                {# 删除按钮，点击后会弹出确认对话框，确认后提交表单删除文件  #}
                {# type="submit": 表单提交按钮 #}
                {# onclick="return confirm('确定要删除此文件吗？')": 点击按钮时会弹出确认框，确认后才提交表单 #}
                <button type="submit"
                        onclick="return confirm('确定要删除此文件吗？')"
                        class="btn btn-danger btn-sm">删除</button>
            </form>
        </li>
    {% endfor %}
</ul>
