{# 获取当前请求中所有闪现 (flash) 消息，并赋值给变量 messages #}
{# 使用 get_flashed_messages() 函数获取当前请求中的所有闪现消息 #}
{% with messages = get_flashed_messages(with_categories=True) %}
  {# 判断是否有闪现消息 #}
  {% if messages %}
    <div class="flash-container">
      {# 创建消息提示框 #}
      {# 返回三种类别 “success” "danger" "warning" #}
      {% for (category, message) in messages %}
        {# `.alert` 基础类 #}
        {# `.alert-info` 信息提示样式（蓝色） #}
        {# `.alert-dismissible` 可关闭的警告框 #}
        {# `.fade show` 渐隐动画 #}
        <div class="flash-message alert alert-{{ category }} alert-dismissible"
             role="alert">
          {# 显示所有消息，使用无序列表结构 #}
          {# `.mb-0` 移除底部外边距 #}
          {# 遍历 messages 列表中的每条消息，逐项显示 #}
          {{ message }}
          {# 添加关闭按钮 #}
          {# `.btn-close` 关闭按钮样式类 #}
          {# `data-bs-dismiss="alert"` 表示点击按钮时关闭该提示框 #}
          <button type="button"
                  class="btn-close"
                  aria-label="Close"
                  data-bs-dismiss="alert"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
