{# 页面标题，显示“上传文件” #}
{# `.mt-5` margin-top 工具类 / 为元素添加 margin-top: 3rem，即上边距 #}
<h2 class="mt-5">上传文件</h2>
{# 创建表单 #}
{# `.list-group` 列表组件的容器类 / 将子元素渲染为一个带边框、间隔的垂直列表 / 通常配合 `.list-group-item` #}
{# `.mt-4` margin-top 工具类 / 为元素添加 margin-top: 1.5rem #}
<form method="post"
      action="{{ url_for('file.upload') }}"
      enctype="multipart/form-data"
      class="list-group mt-4">
  {# `.input-group` 输入框组合组件 / 将多个输入元素（如文本框和按钮）放在一行中，布局紧凑 #}
  {# `.mb-3` margin-bottom 工具类 / 为元素添加 margin-bottom: 1rem，用于垂直间距 #}
  <div class="input-group mb-3">
    {# 文件输入框 #}
    {# `.form-control` 表单控件样式类 / 美化表单元素（如 <input>），让其统一风格、自动填满容器宽度 #}
    <input type="file" name="file" class="form-control" id="fileInput" required />
    {# 提交按钮，点击后提交表单以上传文件 #}
    {# `.btn` 按钮基础类 / 将元素变成样式统一的按钮，必须与其它样式组合使用 #}
    {# `.btn-outline-secondary` 按钮外框样式类 / 渲染一个带灰色边框的按钮，悬浮时会变深 #}
    <button type="submit" class="btn btn-outline-secondary">上传</button>
  </div>
</form>
