{% extends "base.html" %}
{# 设置页面的标题 #}
{# 页面标签页显示的文字内容 #}
{% block title %}
  本地文件服务器 Local File Server
{% endblock title %}
{% block extra_css %}
  {# 引入自定义样式文件 #}
  {# `url_for('file.static', filename='css/styles.css')` 生成静态文件路径 #}
  <link rel="stylesheet"
        href="{{ url_for('file.static', filename='css/flash-messages.css') }}" />
{% endblock extra_css %}
{# 主体内容区域 #}
{# 重写 base.html 中的 content 块 #}
{% block content %}
  {# 插入 flash 消息提示模块 #}
  {% include "file/_flash_messages.html" %}
  {# 页面主标题 #}
  {# `.display-4` 大号标题样式类 #}
  {# `.text-center` 文字居中 #}
  {# `.mb-4` 添加底部 margin: 1.5rem #}
  <h1 class="display-4 text-center mb-4">上传和下载文件</h1>
  {# 插入上传表单模块 #}
  {% include "file/_upload_form.html" %}
  {# 插入文件列表模块  #}
  {% include "file/_file_list.html" %}
{% endblock content %}
{% block extra_js %}
  {# 引入新的 JavaScript 文件 #}
  <script src="{{ url_for('file.static', filename='js/flash-messages.js') }}"></script>
{% endblock extra_js %}
