{% extends "base.html" %}
<!-- 继承 base.html 模板，当前模板将会继承 base.html 中定义的结构 -->
{% block title %}本地文件服务器 Local File Server{% endblock %}
<!-- 重写 base.html 中的 title 块，设置页面的标题为 "本地文件服务器" -->
{% block content %}
  <!-- 开始重写 base.html 中的 content 块，填充当前页面的具体内容 -->
  {% include "./partials/_flash_messages.html" %}
  <!-- 包含文件 ./partials/_flash_messages.html 的内容，用来显示提示消息（如操作成功或失败） -->
  <!-- 主标题 -->
  <h1 class="display-4 text-center mb-4">上传和下载文件</h1>
  {% include "./partials/_upload_form.html" %}
  <!-- 包含文件 ./partials/_upload_form.html 的内容，用于显示上传文件的表单 -->
  {% include "./partials/_file_list.html" %}
  <!-- 包含文件 ./partials/_file_list.html 的内容，通常用于显示可下载的文件列表 -->
  {% endblock %}
  <!-- 结束 content 块 -->
