<h2 class="mt-5">可供下载的文件</h2>
<ul class="list-group mt-4 shadow-sm">
    {% for filename in files %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex w-75 justify-content-between align-items-center">
                <a href="{{ url_for('file.download', filename=filename) }}"
                   class="text-truncate file-name">{{ filename }}</a>
                <div class="file-info text-muted ms-3">
                    <span class="file-size">{{ get_file_size(filename) }}</span>
                </div>
            </div>
            <form method="post" action="{{ url_for('file.delete', filename=filename) }}">
                <button type="submit"
                        onclick="return confirm('确定要删除此文件吗？')"
                        class="btn btn-danger btn-sm">删除</button>
            </form>
        </li>
    {% endfor %}
</ul>
